body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.player1 {
    background-color: yellow;
}

.player2 {
    background-color: red;
}
